{% extends 'base.html.twig' %}

{% block body_id 'user_password' %}

{% block body %}

    <section>
        {% include 'profile/profile_dashboard.html.twig' %}
        <div class="content-container">
            <h1>Change Password</h1>

            <div class="alert-warning-message" role="alert">After changing your password, you will be logged out of the application.</div>

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="custom-button-wide">
                <i class="fa fa-save" aria-hidden="true"></i> Save New Password
            </button>
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}

{% set pageRoute = 'user_profile' %}
