{# This is a User Profile Page Dashboard options Page #}

<div class="dashboard-container">
    <a href="{{ path('app_profile') }}" class="dashboard-button">
        <i class="fa fa-user" aria-hidden="true"></i> Profile
    </a>
    <a href="{{ path('user_change_password') }}" class="dashboard-button">
        <i class="fa fa-lock" aria-hidden="true"></i> Change Password
    </a>
</div>
