{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body_id 'user_edit' %}

{% block body %}

    <section role="region" aria-labelledby="profileHeading">
        {% include 'profile/profile_dashboard.html.twig' %}

        <div class="content-container">
            <h1 id="profileHeading">Your Profile</h1>

            {# Display user information using a description list #}
            <dl>
                <dt>Username</dt>
                <dd aria-label="User's Username">{{ user.username }}</dd>

                <dt>Email</dt>
                <dd aria-label="User's Email">{{ user.email }}</dd>
            </dl>

        </div>
    </section>

{% endblock %}

{% set pageRoute = 'user_profile' %}


