{% block title %}Verify Email{% endblock %}

{% block body %}
    <div class="login-form-custom">
        <h1>Verify your Email Account for UMAMI</h1>
        <p>
            Please click the link down below to enable your account before logging in.
        </p>
        {#  signedUrl contains URL of user with route app_verify_email #}
        <a href="{{ signedUrl }}">Confirm my Email</a>.
        This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </div>
{% endblock %}