{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="registration-section">
        <h1>Register</h1>
        <form method="post">
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            <button type="submit">Register</button>
        </form>
    </section>
{% endblock %}
