{% extends 'base.html.twig' %}

{% block title %}Verify Email{% endblock %}

{% block body %}
    <div class="login-form-custom">
        <h1>Verify your Email</h1>
        <p>
            A verification email has been sent. Please click the link to enable your account before logging in.
        </p>
        <button type="button">Re-send Email</button>
    </div>
{% endblock %}
