{% extends 'base.html.twig' %}

{% block title %}Create Cuisines{% endblock %}


{% block body %}
    <section class="cuisines-dashboard">
        <div class="dashboard-top">
            <h1 class="">Cuisine Names</h1>
            <button class="custom-button-wide" id="createCuisinesButton">
                Create New Cuisine
            </button>
        </div>

        <div id="alert-div">
        </div>
        <table class="">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="js-cuisines-table-body">
            </tbody>
        </table>
    </section>


    <!-- modal for creating and editing function -->
    <div id="form-modal">
        <h3>Cuisine Form</h3>
        <button type="button" class="" aria-label="Close">X</button>
        <div id="error-div"></div>
        <form>
            <input type="hidden" name="update_id" id="update_id">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
            <button type="submit" class="custom-button-wide" id="js-save-cuisine-button">Save Cuisine</button>
        </form>
    </div>

    <script src="{{ asset('js/cuisines-form-ajax.js') }}"></script>
{% endblock %}

{# Set route-data for scss #}
{% set pageRoute = 'cuisines_dashboard' %}
