@import '../base';

body[data-route="cuisines_dashboard"] {

  .cuisines-dashboard {

    display: flex;
    flex-direction: column;
    align-items: center;

    .dashboard-top {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 20px;
      width: 100%;
    }

    table {
      border-collapse: collapse;
      margin-bottom: 20px;
      max-width: 800px;
      width: 100%;

      th, td {
        border: 1px solid $umami-grey-light;
        text-align: center;
        padding: 10px;
      }

      th {
        background-color: $umami-white;
        text-align: center;
      }

      th:nth-child(1),
      th:nth-child(3) {
        width: 3.25em;
      }

      tr:nth-child(even) {
        background-color: $umami-white-second;
      }

      tr:hover {
        background-color: $umami-white-third;
      }
    }
  }

  #form-modal {
    align-items: center;
    background-color: $umami-white;
    border: 1px solid $umami-grey-light;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    opacity: 0;
    padding: 20px;
    position: fixed;
    top: 50%;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 999;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    button[aria-label='Close'] {
      background: none;
      border: none;
      font-size: 16px;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    #error-div {
      color: $umami-danger;

        .alert-danger-message {
          padding: 1em;
        }
    }

    form {
      margin-top: 15px;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
      }
    }
  }

  /* Dark theme styles for Cuisines table */
  .darktheme .cuisines-dashboard  {
    table {
      th {
        background-color: $umami-grey-medium;
      }

      tr:nth-child(even) {
        background-color: $umami-grey-medium;
      }

      tr:nth-child(odd) {
        background-color: $umami-grey;
      }
    }
  }

  @media (max-width: $layout-breakpoint-medium) {

    #form-modal {
      min-width: 300px;
    }

  }
}

