{% extends 'base.html.twig' %}
{# TODO MARIKA DELETE THIS twig if it's not used #}

{#  TODO MARIKA change card to custom card if it's used #}
{% block body %}
    <section class="categories-section">
        <div  class="container-small">
            <article  class="block block-last">
                <div class="block-body">
                    <h2 class="title">Receipes</h2>
                </div>
            </article>
        </div>
        <div class="container-small flex-content">
            <ul class="card-container" role="list">
                <li class="card-component" role="listitem">
                    <figure>
                        <img src="{{ asset('images/salad_fig.jpg') }}" alt="A photo of a delicious-looking salad featuring figs, Camembert cheese, tomatoes, and cucumbers">
                        <figcaption>
                            <h4><b>Delicious Recipe 1</b></h4>
                            <p>Description of Recipe 1.</p>
                        </figcaption>
                    </figure>
                </li>

                <li class="card-component" role="listitem">
                    <figure>
                        <img src="{{ asset('images/salad_fig.jpg') }}" alt="A photo of a delicious-looking salad featuring figs, Camembert cheese, tomatoes, and cucumbers">
                        <figcaption>
                            <h4><b>Delicious Recipe 1</b></h4>
                            <p>Description of Recipe 1.</p>
                        </figcaption>
                    </figure>
                </li>

                <li class="card-component" role="listitem">
                    <figure>
                        <img src="{{ asset('images/salad_fig.jpg') }}" alt="A photo of a delicious-looking salad featuring figs, Camembert cheese, tomatoes, and cucumbers">
                        <figcaption>
                            <h4><b>Delicious Recipe 1</b></h4>
                            <p>Description of Recipe 1.</p>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}

{% set pageRoute = 'categories' %}