@import '../base';

/* Button container */
.custom-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button design to create a new Recipe */
.custom-button-wide {
  align-items: center;
  background-color: $umami-blue-dark;
  border: none;
  border-radius: 4px;
  color: $umami-grey;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  margin-left: 10px;
  padding: 0.5em 1em;
  transition: transform 0.3s; /* Add a smooth transition */
}

.custom-button-wide:hover {
  color: inherit;
  transform: scale(1.03); /* Scale the button by 3% when hovered */
}

.custom-button-wide > i {
  margin-right: 0.5em;
}

/* Icons button design */
.custom-button-icon {
  border: 1px solid $umami-white;
  border-radius: 4px;
  color: $umami-white;
  display: inline-block;
  font-weight: bold;
  margin: 0 0.25em;
  padding: 0.8em 1.6em;
  transition: transform 0.3s; /* Add a smooth transition */
}

.custom-button-icon:hover {
  transform: scale(1.03); /* Scale the button by 3% when hovered */
}

/* Button design for add/delete ingredient */
.custom-button-small {
  align-items: center;
  background-color: $umami-white;
  border: 1px solid $umami-grey-light;
  border-radius: 4px;
  color: $umami-grey-medium;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  margin: 0.625em;
  padding: 0.3125em;
  transition: transform 0.3s; /* Add a smooth transition */
}

.custom-button-small {
  transform: scale(1.03); /* Scale the button by 3% when hovered */
}

/* Styles for edit/delete/edit buttons */
.delete-button {
  background-color: $umami-danger;
}
.edit-button {
  background-color: $umami-success;
}
.show-button {
  background-color: $umami-blue-dark;
}

/* Design for back to list */
.return-list-button {
  background-color: $umami-grey-light;
  border: none;
  border-radius: 5px;
  color: $umami-grey;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-top: 1em;
  padding: 1em 2em;
  text-decoration: none;
}

.return-list-button:hover {
  transform: scale(1.03);
}
