@import '../base';

/* Button container */
.custom-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button design to create a new Recipe */
.custom-button-wide {
  align-items: center;
  background-color: $umami-yellow-dark;
  border: none;
  border-radius: 4px;
  color: $umami-white;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  padding: 10px 20px;
  transition: transform 0.3s; /* Add a smooth transition */
}

.custom-button-wide:hover {
  color: inherit;
  transform: scale(1.03); /* Scale the button by 3% when hovered */
}

/* Icons button design */
.custom-button-icon {
  border: 1px solid $umami-white;
  border-radius: 4px;
  color: $umami-white;
  display: inline-block;
  font-weight: bold;
  margin: 0 5px;
  padding: 8px 16px;
  transition: transform 0.3s; /* Add a smooth transition */
}

.custom-button-icon:hover {
  transform: scale(1.03); /* Scale the button by 3% when hovered */
}

/* Button design for add/delete ingredient */
.custom-button-small {
  align-items: center;
  background-color: $umami-white;
  border: 1px solid $umami-grey-light;
  border-radius: 4px;
  color: $umami-grey-medium;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  transition: transform 0.3s; /* Add a smooth transition */
}

.custom-button-small {
  transform: scale(1.03); /* Scale the button by 3% when hovered */
}

/* Styles for edit/delete/edit buttons */
.delete-button {
  background-color: $umami-danger;
}
.edit-button {
  background-color: $umami-success;
}
.show-button {
  background-color: $umami-yellow-dark;
}

/* Design for back to list */
.return-list-button {
  background-color: $umami-yellow-dark; /* Change the background color as desired */
  border: none;
  border-radius: 5px;
  color: $umami-white; /* Change the text color as desired */
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  text-decoration: none; /* Remove underlines from links, you can also set it to none if it's not a link */
}

.return-list-button:hover {
  transform: scale(1.03); /* Change the background color for hover state as desired */
}