@import '../base';

// Mixin for common button styles
@mixin common-button-styles($bg-color, $text-color, $border: 1px solid $umami-white) {
  align-items: center;
  background-color: $bg-color;
  border: $border;
  border-radius: 4px;
  color: $text-color;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  margin: 1em;
  padding: 0.5em 1em;
  transition: transform 0.3s;

  &:hover {
    color: inherit;
    transform: scale(1.03);
  }
}

// Mixin for small buttons
@mixin small-button-styles($bg-color, $text-color) {
  @include common-button-styles($bg-color, $text-color, 1px solid $umami-grey-light);
  margin: 0.625em;
  padding: 0.3125em;
}

// Mixin for delete/edit/show buttons
@mixin action-button-styles($bg-color) {
  @include common-button-styles($bg-color, $umami-grey);
}

// Mixin for return to list button
@mixin return-list-button-styles {
  @include common-button-styles($umami-grey-light, $umami-grey, none);
  border-radius: 5px;
  justify-content: center;
  margin-top: 1em;
  max-width: 190px;
  padding: 0.7em;
}

// Mixin for custom delete button
@mixin custom-delete-button-styles {
  @include common-button-styles($umami-danger, $umami-white, 1px solid $umami-danger);
  padding: 0.375rem 0.75rem;
  transition: background-color 0.3s;
}

// Button container
.custom-button-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em;
}

// Button design to create a new Recipe
.custom-button-wide {
  @include common-button-styles($umami-grey-light, $umami-grey);

}

// Icons button design
.custom-button-icon {
  @include common-button-styles(none, $umami-white);
}

// Common styles for small buttons
.custom-button-small {
  @include small-button-styles($umami-grey-light, $umami-grey);
}

// Styles for edit/delete/show buttons
.delete-button {
  @include action-button-styles($umami-danger);
}
.edit-button {
  @include action-button-styles($umami-success);
}
.show-button {
  @include action-button-styles($umami-blue-dark);
}

// Design for back to list
.return-list-button {
  @include return-list-button-styles;
  margin: 20px 0;
  max-width: 50px;
}

// Button design for delete ingredients and extra Photos
.custom-delete-button {
  @include custom-delete-button-styles;
}

// Style on hover
.custom-delete-button:hover {
  transform: scale(1.03);
}

// Dark theme styles
.darktheme {
  .return-list-button {
    background-color: $umami-grey-medium;
  }
}

@media (max-width: $layout-breakpoint-small) {
  .return-list-button {
    margin-left: 0;
  }
}