@import '../base';

/* Mixin for card styles */
@mixin card-styles($width: 30%, $max-width: 330px, $min-width: 230px, $hover-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)) {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  max-width: $max-width;
  min-width: $min-width;
  overflow: hidden;
  transition: 0.3s;
  white-space: normal;
  width: $width;
  word-wrap: break-word;

  &:hover {
    box-shadow: $hover-shadow;
  }

  h4 {
    font-weight: bold;
    text-align: center;
  }

  img {
    border-radius: 5px;
    width: 100%;
    height: 220px; // Set a fixed height for the image
    object-fit: fill;
  }

  .like-container {
    cursor: pointer;
    margin: inherit; // Put Like icon inside the image
    position: absolute;

    .like-icon {
      &.liked {
        color: $umami-red; // Apply the color for the liked state
      }
    }
  }
}

/* Use Flexbox for card layout */
.flex-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.custom-card {
  @include card-styles;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .flex-content .card-container {
    align-items: center;
    flex-direction: column;
  }

  .custom-card {
    width: 80%;
    margin-bottom: 10px;
  }
}


