$umami-yellow: #fae8aa;
$umami-yellow-dark: #F2CE4C;
$umami-white: #FFF;
$umami-grey: #383838;

$umami-font-family: 'Source Sans Pro', sans-serif;
$umami-font-family-cursive: 'Pinyon Script', serif;

//Responsive
$layout-breakpoint-small: 600px;
$layout-breakpoint-medium: 800px