$umami-yellow: #fae8aa;
$umami-yellow-dark: #F2CE4C;
$umami-white: #f5f4f4;
$umami-white-second: #F5F4F4FF;
$umami-white-third: #FAF6F6FF;
$umami-white-background: #f2f2f2;
$umami-grey: #383838;
$umami-grey-medium: #686868;
$umami-grey-light: #ccc;
$umami-success: #5ec092;
$umami-danger: #c05e78;
$umami-red: #FF0000FF;

$umami-font-family: 'Source Sans Pro', sans-serif;
$umami-font-family-cursive: 'Pinyon Script', serif;

//Responsive
$layout-breakpoint-small: 600px;
$layout-breakpoint-medium: 800px