$umami-blue: #93c8e3;
$umami-blue-dark: #5eb5e0;
$umami-blue-dark-second: #195775;
$umami-white: #f5f4f4;
$umami-white-second: #F5F4F4FF;
$umami-white-third: #FAF6F6FF;
$umami-white-background: #f2f2f2;
$umami-grey: #383838;
$umami-grey-medium: #686868;
$umami-grey-light: #ccc;
$umami-success: #8fbc8f;
$umami-danger: #c05e78;
$umami-red: #FF0000FF;
$umami-save: #43b4e8;
$umami-warning: #e5b865;

$umami-font-family: 'Source Sans Pro', sans-serif;
$umami-font-family-cursive: 'Pinyon Script', serif;

//Responsive
$layout-breakpoint-small: 600px;
$layout-breakpoint-medium: 800px;

