@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";

// global-styles

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.625;
  margin: 0;
  color: #6F6F6F;

  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
  }

  a:hover {
    color: inherit;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h1, h2, h3 {
    color: $umami-yellow-dark;
    font-family: $umami-font-family;
  }

  h2 {
    text-transform: uppercase;
  }

  .title {
    font-size: 1.75rem;
    line-height: 1.1;
    letter-spacing: 2px;
    color: $umami-yellow-dark ;
    font-weight: bold;
    margin: 1rem 0 0 0;
  }

}

//For responsive
@media (max-width: $layout-breakpoint-small) {
  html {
    font-size: 16px;
    border: 1px solid red !important; //MARIKA TODO This is for the test porpose delete at the end
  }
}


// Alert success message
.alert-success-message {
  background-color: $umami-success;
  color: $umami-grey;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 2vh;
}

// Alert error/danger message
.alert-danger-message {
  background-color: $umami-danger;
  color: $umami-grey;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 2vh;
}

// error message by form constrains
.error-message {
  color: $umami-red;
}
