@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";

// global-styles

// Mixin for common link styles
@mixin link-styles($color: inherit) {
  color: $color;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $color;
  }
}

// Mixin for common header styles
@mixin header-styles {
  border: black;
  color: $umami-blue-dark-second;
  font-family: $umami-font-family;
}

// Mixin for common alert styles
@mixin alert-styles($background-color, $text-color) {
  background-color: $background-color;
  color: $text-color;
}

// Mixin for common error message styles
@mixin error-message-styles {
  color: $umami-red;
}

// Mixin for centering flex container
@mixin centerFlexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;

  html {
    font-size: 16px;
  }

  body {
    font-family: $umami-font-family, sans-serif;
    line-height: 1.625;
    margin: 0;
    color: #6F6F6F;
    font-size: 1rem; // Font size in rem

    a {
      @include link-styles;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    h1, h2, h3 {
      @include header-styles;
    }

    h2 {
      text-transform: uppercase;
    }

    label {
      font-weight: bold;
      margin-top: 10px;
    }

    .title {
      font-size: 1.75rem; // Font size in rem
      line-height: 1.1;
      letter-spacing: 2px;
      color: $umami-blue-dark;
      font-weight: bold;
      margin: 1rem 0 0 0;
    }

    .alert-flash {
      @include alert-styles($umami-grey, $umami-white);
      border-radius: 5px;
      margin-bottom: 2vh;
      padding: 10px;
      text-align: center;
      font-weight: bolder;
    }

    // Alert success message
    .alert-success-message {
      @include alert-styles($umami-success, $umami-grey);
    }

    // Alert error/danger message
    .alert-danger-message {
      @include alert-styles($umami-danger, $umami-grey);
    }

    .alert-warning-message {
      @include alert-styles($umami-blue, $umami-grey);
    }

    // Error message by form constraints
    .error-message {
      @include error-message-styles;
    }

    // Style for back to top arrow icon
    #back-to-top {
      background-color: $umami-blue;
      border: 2px solid $umami-white;
      border-radius: 5%;
      bottom: 200px;
      color: $umami-white;
      cursor: pointer;
      display: none;
      padding: 10px;
      position: fixed;
      right: 20px;

      &:hover {
        background-color: $umami-blue-dark;
      }

      &.visible {
        display: block;
      }
    }
  }

  /* Dark theme styles */
  .darktheme {
    background-color: $umami-grey;
    border: 1px solid $umami-grey-light;
    color: $umami-white;

    h1, h2, h3 {
      @include header-styles;
    }

    a {
      @include link-styles($umami-white);
    }

    .menu-summary-item {
      h3, p {
        @include alert-styles($umami-grey, $umami-white);
      }
    }
  }

  .dark-mode {
    background: none;
    filter: brightness(70%);
  }

  @media (max-width: $layout-breakpoint-small) {
    html {
      font-size: 1em;
    }
    h1, h2, h3 {
      font-size: 1.5em;
    }
  }
}
