@import 'base';

body[data-route="categories"] {

  .categories-section {

    margin-top: 100px;

    .container-small {
      margin: 0 auto;
      padding: 0 20px;
      max-width: 960px;

      .block {
        margin-bottom: 50px;
      }
    }

    .block-card {
      width: 350px;

      ol {
        list-style: none;
        padding: 0;
        margin: 0;

        .fa-star {
          background-color: transparent;
          border: none;
        }
      }
    }
  }
}