@import 'base';

.footer {
  background: $umami-blue;
  color: $umami-grey;
  font-weight: 300;
  margin-top: 1.875rem; // 30px
  padding-top: 1.875rem; // 30px

  &-columns {
    display: flex;
    flex-wrap: wrap; // Allow columns to wrap to the next line on smaller screens
    justify-content: space-between;
  }

  &-column {
    width: 100%; // Make each column take full width on smaller screens
    margin-bottom: 1.25rem; // 20px

    &:last-child {
      margin-bottom: 0; // Remove margin from the last column
    }

    img {
      margin-bottom: 0.625rem; // 10px
    }
  }

  &-title {
    color: $umami-blue-dark-second;
    margin-bottom: 1.25em;
    font-weight: bold;
  }

  // Media queries for responsiveness
  @media screen and (min-width: 48rem) {
    // 768px
    .footer-columns {
      flex-wrap: nowrap; // Prevent columns from wrapping on larger screens
    }

    .footer-column {
      width: 18.75rem; // 300px
      margin-right: 3.125rem; // 50px
    }
  }
}

.footer-credits {
  text-align: center; // Center the credits text
}
