@import 'base';
@import 'variables';

.footer {
  background: $umami-blue;
  color: $umami-grey;
  font-weight: 300;
  margin-top: 1em;
  padding-top: 1rem;

  &-columns {
    display: flex;
    //flex-wrap: wrap; // Allow columns to wrap to the next line on smaller screens
    justify-content: space-between;
  }

  &-column {
    width: 100%; // Make each column take full width on smaller screens
    margin-bottom: 1.25rem;

    &:last-child {
      margin-bottom: 0; // Remove margin from the last column
    }

    img {
      margin-bottom: 0.625rem;
      max-width: 200px;
    }
  }

  &-title {
    color: $umami-blue-dark-second;
    margin-bottom: 1.25em;
    font-weight: bold;
  }

  .footer-credits {
    text-align: center;
  }

}

// Media queries for responsiveness

@media screen and (max-width: $layout-breakpoint-small) {

  footer {

    text-align: center;

    a, p {
      font-size: 18px;
    }

    .footer-columns {
      flex-wrap: wrap; // Prevent columns from wrapping on larger screens
    }

    .footer-column {
      width: 18.75rem;
    }

    img {
      max-width: 100px;
    }

    &-columns {
      flex-wrap: wrap; // Allow columns to wrap to the next line on smaller screens
    }
  }
}