@import 'base';
@import 'components/card'; // Import the card component styles

body[data-route="home"] {
  .home-section {
    padding-top: 9px;

    .container-small {
      margin: 0 auto;
      padding: 0 20px;
      max-width: 960px;

      .block {
        margin-bottom: 50px;
      }

      .ingredients-menu {
        color: $umami-grey;
        margin: 40px 0;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
      }

      .ingredients-menu a {
        display: inline-block;
        margin: 0 5px;
        position: relative;

        &::after {
          background: $umami-blue-dark;
          bottom: 5px;
          content: '';
          display: block;
          height: 1px;
          left: 0;
          opacity: 0;
          position: absolute;
          right: 0;
          transition: .3s;
        }

        &.active::after, &:hover::after {
          bottom: 0;
          opacity: 1;
        }
      }

      // This is a CSS for cards
      .card-container {
        display: flex;
        justify-content: center;
      }
    }

    .container-small:nth-child(2) {
      @include centerFlexContainer;
    }

    .container {
      margin: 0 auto;
      padding: 0 20px;
      max-width: 1150px;

      .recipe-summary-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
      }

      .recipe-summary-title {
        color: $umami-grey;
        font-size: 1.125rem;
        font-weight: bold;
        padding-bottom: 0.75rem;
        margin-bottom: 0;
      }

      .recipe-summary {
        margin: 0;
        padding-bottom: 1rem;
        font-size: 0.875rem;
      }

      .recipe-summary-infos {
        color: $umami-blue-dark;
        font-family: $umami-font-family-cursive, serif;
        font-size: 2.5rem;
        line-height: 1;
      }
    }

    .recipe-summary-item {
      position: relative;
      padding-left: 120px;
      margin-bottom: 30px;
    }

    .container {
      margin: 0 auto;
      padding: 0 20px;
      max-width: 1150px;
    }

    .block {
      margin-top: 100px;
    }

    .title {
      color: $umami-blue-dark;
      font-size: 1.3em;
      line-height: 1.1;
      letter-spacing: 2px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      margin: 1rem 0 0 0;

      span {
        font-family: $umami-blue;
        color: $umami-blue-dark;
        font-size: 1em;
        display: block;
        text-transform: none;
      }
    }
  }

  @media only screen and (min-width: $layout-breakpoint-medium) {

    .block {
      margin-bottom: 100px;
    }

    .block-last {
      margin-bottom: 60px;
    }

    .block-left, .block-right {
      @include centerFlexContainer;

      .block-img {
        max-width: 350px;
      }

      .block-body {
        flex: none;
        width: 22em;
      }
    }

    .block-right > .block-img {
      @include centerFlexContainer;
    }

    .block-img::before {
      display: block;
      border: solid 1px $umami-blue-dark;
      position: absolute;
      top: -30px;
      left: -30px;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    .block-right .block-img::before {
      left: auto;
      right: -30px;
    }

    .block-left .block-img {
      margin-left: 30px;
    }

    .block-right .block-img {
      margin-right: 30px;
    }

    .block-left .block-body {
      margin-left: 20px;
    }

    .block-right .block-body {
      margin-right: 20px;
      order: -1;
    }

    .title {
      margin-bottom: 1.2rem;

      &::before {
        margin-bottom: 10px;
      }
    }

    .more {
      display: block;
      margin-top: 1.3rem;
    }

    .ingredients-menu a {
      margin: 0 32px;
    }

    .recipe-summary {
      position: relative;
      padding: 85px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .recipe-summary-item {
      padding-left: 192px;
      margin-bottom: 110px;
      width: calc(50% - 40px);

      &:nth-child(even) {
        text-align: right;
        padding-left: 0;
        padding-right:  130px;

        .recipe-summary-img {
          left: auto;
          right: 0;
        }

        .recipe-summary-price {
          margin-left: auto;
        }
      }
    }

    .recipe-summary-img {
      width: 160px;
    }

    .recipe-summary-title {
      margin-top: 0;
      line-height: 1.2;
      background: #FFFFFF;
    }

    .recipe-summary p {
      background: #FFFFFF;
    }

    // Background Diamond
    .recipe-summary::before {
      content: '';
      position: absolute;
      display: block;
      top: 60%;
      left: 50%;
      width: 420px;
      height: 420px;
      border: solid 1px $umami-blue-dark;
      transform: translate(-50%, -260px) rotate(45deg);
    }

  }

  @media only screen and (max-width: $layout-breakpoint-small ) {

    .home-section {
      .ingredients-menu a {
        font-size: 0.7em;
        font-weight: 600;
      }
      .recipe-summary {
        .recipe-summary-infos {
          font-size: 1.5em;
        }
      }
    }

    .block-right, .block-left{
      text-align: center;
    }

    .block-right > .block-img, .block-left > .block-img {
      @include centerFlexContainer;
    }

    .block-body > p {
      padding: 0.6em;
    }
  }

    /* Dark theme styles */
  .darktheme .recipe-summary .recipe-summary-item {
    h3, p {
      background-color: $umami-grey-medium;
      color: $umami-white;
    }
  }
}



