{% extends 'base.html.twig' %}

{% block title %}Edit Recipes{% endblock %}

{% block body %}
    <h1>Edit Recipes</h1>

    {{ include('recipes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_recipes_index') }}">back to list</a>

    {{ include('recipes/_delete_form.html.twig') }}
{% endblock %}
