{% extends 'base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}

    <section>
        <div class="privacy-content">
            <h1>LEGAL NOTICE</h1>
            <p>In accordance with the provisions of Law No. 2004-575 of June 21, 2004 for confidence in the digital economy, users of the UMAMI site are informed of the identity of the various participants in the context of its creation and monitoring.</p>
            <h2>Editing the site</h2>

            <p>This site, accessible at the URL https://umami.fr/ (the “Site”), is published by:</p>

            <p>Marika Abe, resident at 123 rue Umami, of Japanese nationality (Japan), born on 07/10/1988,</p>

            <h2>Host</h2>

            <p>The Site is hosted by the company OVH SAS, located 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1, (telephone or email contact: 1007).</p>

            <h2>Publication director</h2>

            <p>The Site's Publication Director is Marika Abe.</p>

            <h2>Our contacts</h2>
            <ul>
                <li>By phone: +33123456789</li>
                <li>By email: umami@umami.com</li>
                <li>By mail: 123 rue Umami</li>
            </ul>
    </section>
{% endblock %}


{# Set route-data for scss #}
{% set pageRoute = 'legal-pages' %}
