//@import '../base';
@import '../components/card'; // Import the card component styles

$font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$primary-color: #F072A9;
$secondary-color: #FFD2D2;
$background-color: #FFF4F4;

.form-style-3 {
  max-width: 450px;
  font-family: $font-family;
  border: 1px solid red;
}

.form-style-3 label {
  display: block;
  margin-bottom: 10px;
}

.form-style-3 label > span {
  float: left;
  width: 100px;
  color: $primary-color;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
}

.form-style-3 fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid $secondary-color;
  padding: 20px;
  background: $background-color;
  box-shadow: inset 0px 0px 15px $background-color;
  -moz-box-shadow: inset 0px 0px 15px $background-color;
  -webkit-box-shadow: inset 0px 0px 15px $background-color;
}

