@import '../base';

body[data-route="recipe-form"] {

  form {
    background-color: $umami-blue;
    border: 1px solid $umami-grey-light;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;

    @media (max-width: 768px) {
      max-width: 100%;
    }

    input, select, textarea {
      border: 1px solid $umami-grey-light;
      border-radius: 5px;
      margin: 8px 0;
      padding: 10px;
      width: 100%;
      background-color: $umami-white;
      font-size: 16px;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    li {
      list-style: none;
    }

    .form-check {
      align-items: center;
      display: flex;
    }

    /* Style for the checkbox list */
    .form-group {
      display: flex;
      flex-wrap: wrap;
    }

    /* Style for the checkbox list */
    input[type="checkbox"] {
      margin-right: 5px;
      max-width: 10px;
    }
  }

  h1 {
    margin-bottom: 10px;
    text-align: center;
  }
}

/* Constraint Error messages */
#ingredient_recipe_recipe, #ingredient-fields-list {
  ul {
    li {
      color: red;
    }
  }
}
