@import '../base';
@import '../components/card';

body[data-route="recipes_filters"] {

  .flex-container {
    display: flex;
    flex-wrap: wrap;

    .left-sidebar {
      flex: 0 0 25%;
      padding: 1.25em;
      box-sizing: border-box;

      h2 {
        font-size: 1.2em;
        font-weight: bold;

        i {
          padding-right: 0.3em;
        }
      }
    }

    .right-content {
      box-sizing: border-box;
      flex: 1;
      margin: 0 auto;
      max-width: 960px;
      padding: 1.25em;

      h1 {
        text-align: center;
        font-weight: bold;
      }
    }

    /* Text when there is no recipe result  */
    p {
      font-weight: bold;
      text-align: center;
    }

    @media (max-width: $layout-breakpoint-medium) {
      flex-direction: column;

      .left-sidebar, .right-content {
        flex: 1;
        order: initial; /* Reset the order for larger screens */
      }
    }
  }
}
