@import '../base';

body[data-route="recipes_dashboard"] {

  .recipes-dashboard {
    border-collapse: collapse;

    /* Border styles for table, th, and td */
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: auto;
    margin: 18px;

    .dashboard-top {
      border: none;
      display: flex;
      justify-content: space-between;
    }

    table {
      margin: 30px 15px;/* margin top/bottom and side of recipes table */

      .action-buttons {
        display: flex;
      }

      /* Image styles */
      img {
        /* List recipe image maximum size */
        margin: 0 5px;
        max-width: 100px;
        opacity: 0.8;
        padding: 8px;
        text-align: left;
        text-decoration: none;
      }

      th {
        background-color: $umami-white-background;/* Background color for th */
        text-align: center;
      }

      th, td {
        border: 1px solid $umami-grey-light;
        min-width: 80px;
      }

      tr:nth-child(even) {
        background-color: $umami-white-background;/* Background color for even rows */
      }

      tr:nth-child(odd) {
        background-color: $umami-white;/* Background color for odd rows */
      }

      td:first-child, td:nth-child(2) {
        text-align: center; // Centered ID and name of recipes table
      }

      // TODO MARIKA Change responsive title design !!!
      @media (max-width: 600px) {
        display: block;

        img {
          max-width: 100%;
          text-align: center;
        }

        th, td {
          display: block;
          width: 100%;
          text-align: left;
        }

        th {
          text-align: left;
        }

        .dashboard-top {
          display: block;
        }

        tr {
          display: block;
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        td:first-child, td:nth-child(2) {
          text-align: left;
        }

      }
    }

    // Pagination
    .pagination-container {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;

      span {
        line-height: 36px;
        margin: 0 5px;
      }
    }

    /* Form for pagination */
    .pagination-form {
      margin-top: 20px;

      label {
        margin-right: 10px;
      }

      select {
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        padding: 8px;
      }
    }

  }
}

