@import '../base';

body[data-route="show_recipes"] {

  h2, h3 {
    text-align: center;
  }

  p {
    font-weight: bold;
  }

  .row-recipe {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
  }

  .rightcolumn {
    width: 75%;
    padding: 20px;
  }

  .leftcolumn {
    width: 25%;
    padding-left: 20px;
  }

  .recipe-img {
    height: auto; /* Maintain aspect ratio */
    max-width: 700px;
    object-fit: cover; /* Ensure the entire container is covered, preserving aspect ratio */
    padding: 20px;
    width: 100%;
  }

  /* Make the container flex and allow wrapping */
  .card-box {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $umami-white;
    padding: 20px;
    margin-top: 20px;

    ul {
      padding-left: 0
    }

    .extra-img-container {
      display: flex;
      flex-wrap: wrap;

      img {
        flex-basis: 33.33333%; // Display 3 photos in a row.
        height: 100%; /* Keep the height of images */
        margin: 0.5rem; /* Add some margin between images */
        max-width: 150px; /* Adjust the pixel value as needed */
        object-fit: contain; /* Ensure the entire container is contained, preserving aspect ratio */
      }
    }
  }

  .recommendation-recipes {

    background-color: $umami-white;
    margin-top: 20px;
    padding: 20px;
    text-align: center;

    img {
      border : 5px solid $umami-blue-dark;;
      height: 100%; /* Keep the height of images */
      max-width: 170px; /* Adjust the pixel value as needed */
      object-fit: contain; /* Ensure the entire container is contained, preserving aspect ratio */
    }
  }

  /* Carousel style */
  .umami-carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .umami-carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .umami-carousel-item {
    flex: 0 0 100%; /* Set item width to 100% */
  }

  /* Carousel control buttons */
  .umami-carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: $umami-white;
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .umami-carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .umami-carousel-prev {
    left: 0;
  }

  .umami-carousel-next {
    right: 0;
  }

  /* Carousel indicator */
  .umami-carousel-indicators {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .umami-carousel-indicator {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 0.5rem;
    cursor: pointer;
  }

  /* Active carousel indicator */
  .umami-carousel-indicator.active {
    background-color: $umami-white;
  }

  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

  /* Comments Form designs start */
  .comment-section {
    background-color: $umami-white-background;
    border: 1px solid $umami-grey-light;
    border-radius: 8px;
    margin: 10px auto;
    max-width: 800px;
    padding: 20px;

    form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;  // Align child elements vertically

      textarea {
        background-color: $umami-white-third;
        border: 1px solid $umami-grey-light;
        border-radius: 4px;
        font-size: 14px;
        height: 100px;
        margin-bottom: 10px;
        padding: 10px;
        resize: vertical;
        width: 100%;
      }

      button {
        align-self: flex-end;  // Move the button to the right side
        margin: 10px;
      }
    }

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    /* Comments Form designs end */

    /* Comments contents and username designs start */
    #comment-parent {
      background-color: $umami-blue; // Set your desired background color
      border-radius: 8px;
      padding: 20px;

      .comment-container {
        background-color: $umami-white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 16px;

        h4 {
          color: $umami-blue-dark;
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 8px;
        }

        .posted-info {
          align-self: flex-end; // Move the button to the right side
          color: $umami-grey;
          font-size: 0.9rem;
          margin-bottom: 8px;
        }

        p {
          color: $umami-grey;
          font-size: 1rem;
          margin-bottom: 0;
        }
      }
    }
  }
  /* Comments contents and username designs end */
}